* {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-color: hsl(0, 0%, 90%);
}

/* Here i'm getting the section centered, also hidding the overflow as it is a single page */
section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Making them fit the same size, and rounding the corners*/
.col {
    border-radius: 10%;
    padding: 2em 0.5em;
}
.row {
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px 20px 10px 5px black;
}

/* -=--=-=-=-=-=-=- */
/* RESULTS TAB */
/* -=--=-=-=-=-=-=- */
.resultTab {
    display: grid;
    justify-items: center;
    color: white;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


.resultTitle {
    font-size: 1.2em;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
}

.circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: grid;
    align-items: center;
    margin: 2em;
}

.result {
    font-weight: 800;
    font-size: 60px;
}
h1 .of {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: hsla(241, 100%, 89%, 0.5);

}



.great {
    font-size: 1.7em;
}

.info {
    margin: 1em 0;
    width: 70%;
    color: hsl(241, 100%, 89%);
}


/* -=--=-=-=-=-=-=- */
/* SUMMARY TAB */
/* -=--=-=-=-=-=-=- */


.summaryTab {
    background-color: white;
    display: grid;
    justify-items: center;
    font-weight: 700;
}

.summar {
    width: 85%;
}

.summaryTitle {
    font-size: 1.2em;
}

ul li {
    list-style: none;
    position: relative;
}
li {
    border-radius: 10px;
    margin: 0.5em 0;
    padding: 1em;
}
li:nth-child(1) {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}
li:nth-child(2) {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}
li:nth-child(3) {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);

}
li:nth-child(4) {
   color: hsl(234, 85%, 45%);
   background-color: hsla(234, 85%, 45%, 0.1);

}

p {
    display: inline;
}
img {
    margin: 0 0.2em;
}

.score {
    color: hsl(224, 30%, 27%);
    position: absolute;
    right: 20px;
}

.summaryOutOf {
    color: rgba(87, 87, 90, 0.418);
}

.continue {
    margin: 1.5em 0 0;
    width: 100%;
    border-radius: 30px;
    padding: 0.8em;
    background-color: hsl(224, 30%, 27%);
    border: none;
}

.continue:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 520px) {
    .row {
        display: block;
        height: 100vh;
        position: relative;
        top: -50px;
    }

    body {
        background-color: white;
    }

    .resultTitle {
        position: relative;
        margin-top: 50px;
    }
    
}